.group-list {
    overflow-y: hidden;
    background-color: #ECEFF1;
    user-select: none;
    position: relative;
}

.group-list__header {
    background: #999;
    padding: 6px 12px;
    position: relative;
    opacity: 0.7;
    color: #fff;
    max-width: inherit;
}
.group-list__item {
    padding: 6px 12px;
}

.group-list__item .group-list__item-last-word {
    font-weight: bold;
}